<footer class="full-container">
  <div class="container">
    <p><a href="https://alumni.ucsc.edu">UC Santa Cruz Alumni</a></p>
    <p>© 2020 Regents of the University of California</p>
  </div>
</footer>

<script>
  $('select').change(function(){
    $('#'+$(this).val()).removeClass('active');
    var theDiv = $('#'+$(this).val()).offset().top;
    var divValue = $('#'+$(this).val())
    $('html, body').animate({
        scrollTop: theDiv
    });
    divValue.css('background','#fff').show().fadeOut( 750 );
    divValue.css('background','#fff').show().fadeIn( 750 );
  });
  // create the back to top button
  jQuery('body').prepend('<a href="#" class="back-to-top"><i class="fa fa-angle-double-up fa-2x"></i><span>Back to Top</span></a>');

  var amountScrolled = 300;

  jQuery(window).scroll(function() {
      if ( jQuery(window).scrollTop() > amountScrolled ) {
          jQuery('a.back-to-top').fadeIn('slow');
      } else {
          jQuery('a.back-to-top').fadeOut('slow');
      }
  });

  jQuery('a.back-to-top, a.simple-back-to-top').click(function() {
      jQuery('html, body').animate({
          scrollTop: 0
      }, 700);
      return false;
  });
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
