<footer class="full-container">
  <div class="container">
    <p><a href="https://alumni.ucsc.edu">UC Santa Cruz Alumni</a></p>
    <p>© 2020 Regents of the University of California</p>
  </div>
</footer>

<script>
  $('select').change(function(){
    var theDiv = $('#'+$(this).val()).offset().top;
    var divValue = $('#'+$(this).val());

    $('html, body').animate({
        scrollTop: theDiv
    });
      divValue.css('background','#fff').show().fadeOut( 750 );
      divValue.css('background','#fff').show().fadeIn( 750 );
  });
  //window.location.replace('#'+$(this).val());
  // create the back to top button
  jQuery('body').prepend('<a href="#" class="back-to-top"><i class="fa fa-angle-double-up fa-2x"></i><span>Back to Top</span></a>');

  var amountScrolled = 300;

  jQuery(window).scroll(function() {
      if ( jQuery(window).scrollTop() > amountScrolled ) {
          jQuery('a.back-to-top').fadeIn('slow');
      } else {
          jQuery('a.back-to-top').fadeOut('slow');
      }
  });

  jQuery('a.back-to-top, a.simple-back-to-top').click(function() {
      jQuery('html, body').animate({
          scrollTop: 0
      }, 700);
      return false;
  });

</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5RFHNC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5RFHNC');</script>
<!-- End Google Tag Manager -->
<!-- Siteimprove -->
<script type="text/javascript">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_8343.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
</script>
<!-- end Siteimprove -->


